section{
    display: flex; 
}

.group-image{
    height: 900px;
}

.header-text{
    margin-left: 200px;
    margin-top: 150px;
}

.header-text h1{
font-size: 80px;
font-family:'Times New Roman', Times, serif;
color: #575757;
}

.header-text p{
    font-size: 25px;
    line-height: 34px;
    font-family: 'Times New Roman', Times, serif;
}

button{
    padding: 20px;
    width: 150px;
    border-radius: 30px;
    background-image: linear-gradient(#8dd6f5, #0977ca);
    border-image-slice: 1;
    border: none;
    font-size: 17px;
    margin-top: 30px;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

span{
    color: #0794F8;
}

.main-text{
margin-top: 200px;
margin-left: 300px;
}

.main-text h1{
font-size: 60px;
color: #676767;
}

.main-text p{
    font-size: 20px;
    line-height: 30px;
    width: 600px;
    text-align: justify;
}

.person-image{
    height: 600px;
margin-top: 150px;
margin-left: 300px;
}

.main-section{
    background-image: url(images/Frame\ Image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    margin-top: 80px;
}

.btn{
    margin-top: 70px;
}

.recipies-text{
    margin: 0 auto;
    margin-top: 50px;
}

.recipies-text h1{
    text-align: center;
    font-size: 55px;
    color: #676767;
}

.recipies-text p{
    font-size: 22px;
    line-height: 35px;
    width: 800px;
    text-align: justify;
}

.my-recipie{
    height: 620px;
    box-shadow: 5px 5px 20px 10px rgb(218, 216, 216);
    padding: 25px;
    border-radius: 25px;
    margin-top: 50px;
    margin-left: 80px;
}

.my-recipie h1{
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.my-recipie p{
    width: 400px;
    text-align: justify;
    font-size: 22px;
    line-height: 34px;
}

.my-recipie img{
    height: 350px;
}



.clent-section-1 img{
    border-radius: 50%;
}

.clent-section-1{
height: 400px;
width: 400px;
text-align: center;
background-color: #F1EEE7;
padding: 10px;
}

.clent-section-1 p{
    font-size: 19px;
}

.clent-section-1{
    margin-left: 50px;
    margin-top: 80px;

}

.client-image{
margin-top: 20px;
}

.clients-title-text{
    color: white;
    text-align: center;
    padding-top: 100px;
}

.background-image{
    background-image:url(images/background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    margin-top: 120px;
}

.social-media-section h1{
    font-size: 60px;
    padding-left: 255px;
}
    
.social-media-section p{
    font-size: 25px;
    padding-left: 255px;
}
    
.social-media-section {
    margin-top: 00px;  
    height: 250px;
    width: 1500px;
    margin-left: 200px;
    box-shadow: 5px 5px 20px 10px rgb(218, 216, 216);
    border-radius: 25px;
    margin-top: 220px;
}
    