section{
    display: flex; 
}

.group-image{
    height: 900px;
}

.header-text{
    margin-left: 200px;
    margin-top: 150px;
}

.header-text h1{
font-size: 80px;
font-family:'Times New Roman', Times, serif;
}

.header-text p{
    font-size: 25px;
    line-height: 34px;
    font-family: 'Times New Roman', Times, serif;
}

button{
    padding: 20px;
    width: 150px;
    border-radius: 30px;
    background-image: linear-gradient(#25beff, #0977ca);
    border: none;
    font-size: 17px;
    margin-top: 30px;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

span{
    color: #048DF8;
}

.main-text{
margin-top: 200px;
margin-left: 300px;
}

.main-text h1{
font-size: 60px;
}

.main-text p{
    font-size: 20px;
    line-height: 27px;
    width: 600px;
    text-align: justify;
}

.person-image{
    height: 600px;
margin-top: 150px;
margin-left: 300px;
}

.main-section{
    background-image: url(images/Frame\ Image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    margin-top: 80px;
}

.btn{
    margin-top: 70px;
}
